#!/bin/sh
if [ -z "$1" ]; then
    echo "A nifi backup type of 'safe' or 'unsafe' must be specified!"
    exit 1
fi
if [ -z "$2" ]; then
    echo "A nifi restore type of 'flows' or 'full' must be specified!"
    exit 1
fi

duply "nifi_$2_restore" pre && duply "nifi_$1" restore && duply "nifi_$2_restore" post
